.footer {
    display: flex;
    align-items: center;
    width: 100%;
}

.footer__container {
    max-width: var(--container-width);
    width: 100%;
    margin: 0 auto;
    padding: var(--size-5) var(--section-x-gutter);
}

.footer-1 {
    padding-top: var(--size-5);
}

.footer-2 {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-top: var(--size-6);
}

.footer__address {
    margin: var(--size-4) auto var(--size-2);
    font-style: normal;
    display: table;
}

.footer__address-item {
    display: flex;
    & svg {
        margin-right: 0.5em;
    }
}

.footer__address-title {
    font-size: 20px;
    font-weight: 600;
}

.footer__link {
    color: currentColor;
    text-decoration: none;

    &:hover {
        color: var(--color-product);
    }
}

@media screen and (--screen-tablet) {
    .footer__container {
        flex-direction: column;
        align-items: start;
        padding-bottom: 0;
    }
    .footer-1 {
        padding-top: 0;
    }
    .footer-2 {
        margin-top: var(--size-3);
        flex-direction: column;
        text-align: center;

        & > * {
            margin-bottom: var(--size-3) !important;
        }
    }
    .footer__address-item {
        justify-content: center;
    }
}

@media screen and (--screen-phone) {
    .footer__container {
        padding-top: var(--size-4);
    }
    .footer__address {
        margin: var(--size-1) auto var(--size-2);
    }
    .footer__address-item {
        justify-content: start;
        font-size: 13px;
        & svg {
            transform: translateY(-0.2em);
        }
    }
    .footer__address-title {
        font-size: 16px;
    }
    .footer-2 {
        margin-top: var(--size-4);
    }
    .footer-2 > * {
        margin-bottom: var(--size-1) !important;
    }
}