.hero {
    position: relative;
    padding-bottom: var(--size-9);

    &::after {
        content: '';
        background-image: url(../img/hero.png);
        background-size: contain;
        background-position: right top;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
    }
}


@media screen and (--screen-tablet) {
    .hero::after {
        background-image: url(../img/hero_mobile.png);
    }
}