.review {
    background-color: var(--color-product-2);
    padding: var(--size-5);
    border-radius: 6px;
}

.review__title {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: var(--size-half);
}
.review__date {
    margin-bottom: var(--size-2);
    line-height: 1.5;
    display: block;
}


@media screen and (--screen-tablet) {
    .review {
        padding: var(--size-3) var(--size-3) var(--size-4);
    }
}

@media screen and (--screen-phone) {
    .review {
        padding: var(--size-2);
        font-size: 13px;
        line-height: 1.4;
    }
    .review__title {
        font-weight: 600;
        font-size: 16px;
    }
    .review__date {
        line-height: 2;
        font-size: 16px;
    }
}